@import "./styles/tokens.css";

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: var(--header-height);
}

body{

background: var(--color-background-dark);

color: var(--color-text-light);

font-family:Arial, Helvetica, sans-serif;

}
